img{
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
#title,.subtitle,.post_title{
  color: #401010;
}
.subtitle{
    text-align: center;
}
.res_title{
  color: #401010;
  font-style: italic;
}
footer{
  background-color: #8A4C4C;
  margin:-10px;
  padding-bottom: 0px;
}
body{
  background-color: #BF6969;
  font-family: Verdana;
  padding-left: 10%;
  padding-right: 10%;
}
#title{
  border-top: 0px;
  border-right: 0px;
  border-left: 6px solid #8A4C4C;
  border-bottom: 3px solid #8A4C4C;
}
.list_title{
  color: #401010;
  margin-left: -30px;
  padding-top: 10px;
}
a{
  color:#BF6969;
  font-style: bold;
  font-family: "Arial Black";
}
ul{
  list-style-type: none;
}
#presentation{
  text-align: right;
  color:#401010;
  font-style: oblique;
}